@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}
body{
    background: linear-gradient(to right,#beb425,#d8784c,#cc3a27);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}
.title{
    font-size: 30px;
    font-weight: 600;
    color: rgb(9, 8, 8);
    letter-spacing: 1px;
    margin: 30px 0;
}
.todo-list{
    width: 450px;
    padding: 20px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background: transparent;
}
.list-head{
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 20px;
}
.entered-list{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    outline: none;
}
.add-list{
    border: none;
    border-radius: 5px;
    background-color: rgb(8, 6, 133);
    outline: none;
    font-size: 16px;
    color: rgb(245, 249, 246);
    cursor: pointer;
    opacity: .6;
    pointer-events: none;
    transition: all 200ms ease;
}
.add-list:hover{
    background: greenyellow;
    transform: scale(1.1);
    color: rgb(255, 0, 0);
}
.add-list.active{
    opacity: 1;
    pointer-events: all;
}

.tasks{
    width: 100%;
    margin-top: 30px;
}
.item{
    padding: 10px;
    border-radius: 5px;
    box-shadow:  3px 5px #484141;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(246, 81, 81);
}
.item p{
    font-size: 20px;
    font-weight: bold;
    color: rgb(252, 243, 243);
    letter-spacing: 1px;

}
.item.completed p{
    text-decoration: line-through;
    color: #fff;
}
.item.completed{
    background-color: rgb(105, 230, 105);
}
.item-btn{
    display: flex; 
    align-items: center;
    gap: 10px;
}
.item-btn i {
    color:rgb(8, 6, 133) ;
    font-size: 18px;
    cursor: pointer;
}
h5{
    color: #000;
}